*.swp
tmp/
.vscode/
_posts/
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
settings.ini
*Zone.Identifier*
images/copied_from_nb/
tmp*
*.bak
*.sav
_drafts/