/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

// .rendered_html div {
//     display: table-cell;
//     text-align: center;
//     vertical-align: middle;
// }

table {
  display: block !important;
  white-space: normal;
  max-width: 100%;
  font-size: 100%;
  border:none;
  th{
    text-align: center! important;
  }
}

.output_area pre, .output_area div {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
// Center the output_area i.e. Altair Charts
    // text-align: center;
}


// [id^=altair-viz] all elements with an id attribute value starting with the string altair-viz
div[id^=altair-viz] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}