/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

table {
  display: block !important;
  white-space: normal;
  max-width: 100%;
  // Increase the font size to 100%
  font-size: 100%;
  border:none;
  th{
    text-align: center! important;
  }
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


// [id^=altair-viz] all elements with an id attribute value starting with the string altair-viz
div, [id^=altair-viz] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
